include ../_modules/banner/banner
include ../_modules/items-list/items-list

extends ../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../';

block content
  main.quienes-somos
    section.quienes-somos__hero  
      .container
        .row
          .col-24
            .quienes-somos__hero__container
              h1.quienes-somos__hero__title
                | Quiénes
                br
                | Somos
    section.quienes-somos__details
      .container
        .row
          .col-24
            .quienes-somos__details__main-text
              p.quienes-somos__details__text NAVE es un centro de creación y residencia ubicado en el Barrio Yungay que abrió sus puertas por primera vez en septiembre de 2015, un inmueble que a través del mecenazgo y filantropía del directorio de la Fundación Patrimonio Artístico fue donado para el proyecto de NAVE. Por ende, el espacio es privado y funciona a partir de esta donación y fondos concursables anuales.
          .col-24.col-md-12
            .quienes-somos__details__image
              img(src="/images/quienes-somos/quienes-somos-4.jpg")
          .col-24.col-md-12
            .quienes-somos__details__image.quienes-somos__details__image--margin
              img(src="/images/quienes-somos/quienes-somos-5.jpg")
          .col-24.col-md-16.offset-md-4
            .quienes-somos__details__text-container
              p.quienes-somos__details__text Somos un espacio para la danza y las Artes Vivas (el cruce interdisciplinario de la danza, performance, música, artes mediales y todas sus combinaciones imaginables) que funciona a partir de la idea de residencias de creación, investigación y técnicas. Es decir, somos un lugar que potencia los procesos de creación de distintos artistas a nivel nacional e internacional gracias al acompañamiento del equipo desde lo técnico hasta la producción y las comunicaciones.
              p.quienes-somos__details__text Nos definimos como un centro de experimentación que, desde el movimiento y el cuerpo como eje, queremos reflexionar sobre las nuevas formas de hacer arte en el presente. Es nuestra prioridad facilitar el trabajo creativo y la investigación artística proporcionando un lugar para que estas prácticas se desenvuelven y transformen.
              p.quienes-somos__details__text Nuestro enfoque sobre el espacio trasciende el concepto de escena tradicional. Por eso, procuramos que NAVE sea un territorio versátil y en movimiento constante, de manera que se puedan expandir las posibilidades creativas.
          .col-24.col-md-16.offset-md-4
            .quienes-somos__details__image
              img(src="/images/quienes-somos/quienes-somos-1.jpg")
          .col-24.col-md-16.offset-md-4
            .quienes-somos__details__destacado
              p.quienes-somos__details__destacado-text Entendemos el arte y su patrimonio como fuente de experiencia, reflexión y conocimiento, razón por la cual, creemos necesaria su valoración y transmisión en la sociedad.
          .col-24.col-md-12
            .quienes-somos__details__image
              img(src="/images/quienes-somos/quienes-somos-3.jpg")
          .col-24.col-md-12
            .quienes-somos__details__image
              img(src="/images/quienes-somos/quienes-somos-2.jpg")
          .col-24.col-md-16.offset-md-4
            .quienes-somos__details__text-container.quienes-somos__details__text-container--bottom
              p.quienes-somos__details__text El espacio cuenta con una residencia donde alojan los artistas que pasan por NAVE, una sala de exhibición y trabajo con la más alta tecnología para procesos técnicos (Sala Negra), una sala con piso de danza (Sala Blanca), dos salas de trabajo en el segundo piso, y por último una azotea que cuenta con una carpa.
    section.quienes-somos__video
      .quienes-somos__video__container
        iframe(src='https://player.vimeo.com/video/126814815' width='640' height='360' frameborder='0' allow='autoplay; fullscreen; picture-in-picture' allowfullscreen='')
