include ../icon/icon

mixin filter(options, index)
  .filter
    .filter__controls
      form.filter__search-button
        input(placeholder='Buscar')
        +icon('arrow', '#000')
      .filter__select-container
        select.filter__select
          option.filter__option(selected hidden disabled) Filtrar por categoría
          each option, index in options
            option.filter__option(value=option.index data-target=option.categoria)=option.categoria
        +icon('arrow', '#fff')
        