include ../_modules/banner/banner
include ../_modules/artista-module/artista-module
include ../_modules/article/article

extends ../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../';

block content
  main.artista
    section.artista__hero  
      .container
        .row
          .col-24
            .artista__hero__container
              h1.artista__hero__title Artista
              p.artista__hero__text Daniel Maribolí
              .artista__hero__wrapper
                .artista__hero__buttons
                  button.artista__hero__scroll-button
                    +icon("arrow", "#fff")
                .artista__hero__social
                  p.artista__hero__social-text Compartir
                  ul.artista__hero__social-list
                    li.artista__hero__social-item
                      a(href="#")
                        i.fa.fa-facebook
                    li.artista__hero__social-item
                      a(href="#")
                        i.fa.fa-twitter
    section.artista__details
      .container
        .row
          .col-24
            .artista__details__content-heading
              p.artista__details__content-text Daniel Maraboli Bernales estudió actuación teatral en la Universidad de Chile y es Licenciado en Artes escénicas de la Universidad Mayor.
              .artista__details__emblem-container
                img(src="/images/single/emblem.png")

          .col-24.col-md-18.offset-md-3
            .artista__details__content
              p.artista__details__text Desde 2006, formador artístico impartiendo como docente diferentes cátedras en diversas instituciones académicas formadoras de artistas, configurándose en un docente que promueve la investigación y experimentación de nuevos formatos de creación escénica y performática.
              p.artista__details__text Desde 2001 a la fecha ha compuesto el diseño musical y/o sonoro de 100 montajes de la escena nacional trabajando con directores como: Manuela Infante, Aliocha de la Sotta, Ana Harcha, Paula Aros Gho, Ana Luz Ormazábal, María Siebald, Juan Peragallo, Víctor Carrasco, Rodrigo Pérez, Néstor Cantillana, entre muchos otros. Como actor destaca sus colaboraciones para la compañía Teatro de Chile en sus montajes NARCISO, CRISTO y MULTICANCHA, dirigidos por Manuela Infante. Ha participado como músico intérprete y creador de los proyectos musicales ALAMEDAS y  FERNANDO MILAGROS y actualmente forma parte de la banda BAHÍA INÚTIL.
              p.artista__details__text Ha sido asistente musical de partituras del diseñador teatral y règie Pablo Núñez para las óperas Tosca, Carmen, Thäis y La Traviata. A partir de 2009, cuando comienza a dirigir, ha ido desarrollando metodologías de creación escénica que se fundan en los mecanismos sonoros y musicales: OSAMA (2009), EVEREST (2012), EL LUGAR COMÚN (2014), ESCUADRÓN REMIX (2015), EL SONIDO NATURAL DE LA ESCENA DE AMOR (2017). Su investigación desde 2012 se ha basado en proponer nuevos y diversos formatos de creación escénica, en adición con profundizar la creación técnica y sonora por medio del sonido de la voz, las tecnologías y los dispositivos musicales. Ese mismo año genera su más importante alianza creativa junto a la artista Trinidad Piriz de la que se desprenden sus creaciones: HELEN BROWN (2012), TEATRONACIONAL (2013), ITHACA (2015), FIN (2017) y CORO (2019); además del seminario de formación impartido a profesionales y aficionados titulado EL SONIDO Y EL ADENTRO, el cual ha sido impartido dentro y fuera de Chile.
      .-divider-container
        .-divider
    section.artista__residencias
      .artista__residencias__container
        .artista__residencias__wrapper
          +article(site.data.artistas[0].residencias[0], '-convocatoria')
    section.artista__otros-artistas
      +banner("Otros Artistas", "#000")
      .artista__otros-artistas__container
        each artista, index in site.data.artistas
          if index != 0 && index < 6
            .artista__otros-artistas__wrapper
              +artista-module(artista)
