mixin newsletter(klass)
  .newsletter(class=klass)
    .container
      .row
        .col-24
          .newsletter__container
            .newsletter__content
              h3.newsletter__subtitle Regístrate ahora
              h2.newsletter__title Newsletter
            form.newsletter__mail-group
              button.newsletter__button Suscribite
                +icon('arrow', '#fff')
              input(type="email" placeholder="Ingresa tu email")
          img(src="/images/emblem-icon.svg")
