mixin icon(icon, color)
  .icon
    if icon == 'arrow'
      svg.svg-inline--fa.fa-arrow-up.fa-w-14.fa-2x(aria-hidden='true' focusable='false' data-prefix='fal' data-icon='arrow-up' role='img' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 448 512')
        path(fill=color d='M4.465 263.536l7.07 7.071c4.686 4.686 12.284 4.686 16.971 0L207 92.113V468c0 6.627 5.373 12 12 12h10c6.627 0 12-5.373 12-12V92.113l178.494 178.493c4.686 4.686 12.284 4.686 16.971 0l7.07-7.071c4.686-4.686 4.686-12.284 0-16.97l-211.05-211.05c-4.686-4.686-12.284-4.686-16.971 0L4.465 246.566c-4.687 4.686-4.687 12.284 0 16.97z')
    if icon === 'plus'
      svg.svg-inline--fa.fa-plus.fa-w-12.fa-2x(aria-hidden='true' focusable='false' data-prefix='fal' data-icon='plus' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512')
        path(fill=color d='M376 232H216V72c0-4.42-3.58-8-8-8h-32c-4.42 0-8 3.58-8 8v160H8c-4.42 0-8 3.58-8 8v32c0 4.42 3.58 8 8 8h160v160c0 4.42 3.58 8 8 8h32c4.42 0 8-3.58 8-8V280h160c4.42 0 8-3.58 8-8v-32c0-4.42-3.58-8-8-8z')
