.banner {
  width: 100%;
  overflow: hidden;

  span {
    width: 150%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 70px;
    font-family: $heroTitleFont;
    text-transform: uppercase;
    white-space: nowrap;

    .icon {
      margin: 0 10px;

      svg {
          @include icon(60px, 'right');
      }
    }
    
    &.-top {
      transform: translateX(-50px);
    }

    &.-bottom {
      transform: translateX(-400px);
    }
  }
}
