mixin descubre-mas(klass)
  .descubre-mas(class=klass)
    .container
      .row
        .col-24
          .descubre-mas__container
            .descubre-mas__content
              h3.descubre-mas__subtitle Regístrate ahora
              h2.descubre-mas__title descubre-mas
            a.descubre-mas__button(href="#") Suscribite
              +icon('arrow', '#fff')
          img(src="/images/emblem-icon.svg")
