mixin descubre-mas(data)
  .descubre-mas
    h2.descubre-mas__title Descubre más
    .descubre-mas__wrapper
      each item in data
        .descubre-mas__container
          .descubre-mas__image
            img(src=item.image)
          .descubre-mas__content
            h3.descubre-mas__content-title=item.titulo
            a.descubre-mas__button Ingresar
