include ../icon/icon

header.header
  .container
    .row
      .col-24
        .header__container
          a.header__logo(href="/")
            img(src="/images/logo.svg")
          nav.header__nav
            .header__nav-buttons
              a.header__nav-button(href="#") Hazte Amigo
                +icon('arrow', '#fff')
              a.header__nav-button(href="/servicios") Arriendos NAVE
                +icon('arrow', '#fff')
            ul.header__nav-list
              li.header__nav-item
                a(href="/quienes-somos") Quiénes Somos
                button.header__expand-button
                ul.header__nav-sublist
                  //- li.header__nav-subitem 
                  //-   a(href="/quienes-somos") Quiénes Somos
                  li.header__nav-subitem 
                    a(href="/mision") Misión
                  li.header__nav-subitem 
                    a(href="/lineas-de-trabajo") Líneas de trabajo
                  li.header__nav-subitem 
                    a(href="/fundacion") Fundación
              li.header__nav-item
                a(href="/#") Actividades
              li.header__nav-item
                a(href="/programacion") Programación
                button.header__expand-button
                ul.header__nav-sublist
                  //- li.header__nav-subitem 
                  //-   a(href="/programacion") Programación
                  li.header__nav-subitem 
                    a(href="/#todas") Todas las actividades
                  li.header__nav-subitem 
                    a(href="/#barriales") Actividades barriales
                  li.header__nav-subitem 
                    a(href="/#co-producciones") Co-producciones
                  li.header__nav-subitem 
                    a(href="/#ciclos") Ciclos
                  li.header__nav-subitem
                    a(href="/#seminarios") Seminarios y conservatorios
                  li.header__nav-subitem 
                    a(href="/#formacion") Formación
              li.header__nav-item
                a(href="/convocatorias") Convocatorias
                button.header__expand-button
                ul.header__nav-sublist
                  //- li.header__nav-subitem 
                  //-   a(href="/convocatorias") Convocatorias
                  li.header__nav-subitem 
                    a(href="/#llamados") Llamados
                  li.header__nav-subitem 
                    a(href="/#talleres") Talleres y laboratorios
                  li.header__nav-subitem 
                    a(href="/#convocatorias-abiertas") Convocatorias abiertas
              li.header__nav-item
                a(href="/residencias") Residencias
                button.header__expand-button
                ul.header__nav-sublist
                  //- li.header__nav-subitem 
                  //-   a(href="/residencias") Residencias
                  li.header__nav-subitem 
                    a(href="/artistas") Artistas NAVE
              li.header__nav-item
                a(href="/tacto") Tacto
                button.header__expand-button
                ul.header__nav-sublist
                  li.header__nav-subitem 
                    a(href="/tacto#artistas") Artistas
                  li.header__nav-subitem 
                    a(href="/tacto#coproductores") Coproductores
              li.header__nav-item
                a(href="/noticias") Noticias
              li.header__nav-item
                a(href="/contacto") Contacto
              li.header__nav-item
                a(href="/nave-tv") NAVE TV
          .header__hamburguer
            span
            span
            span