mixin player(src)
  .player
    .player__overlay
    .player__container
      iframe.-js-iframe(width='1280' height='720' src=scr frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
      h2.player__title
      span.player__error-message El reproductor de video solo soporta videos de Youtube y Vimeo
    .player__close-button
      span
      span

