include ../_modules/slider/slider
include ../_modules/article/article
include ../_modules/newsletter/newsletter

extends ../_layouts/nave-tv

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../';

block content
  main.nave-tv
    section.nave-tv__hero  
      .container
        .row
          .col-24
            .nave-tv__hero__container
              h3.nave-tv__hero__subtitle Ciclo de solos
              h2.nave-tv__hero__title Ciclo Vitales 3
              p.nave-tv__hero__text Una invitacion a sumergirse en la oscuridad y el juego de luces y sonidos que propone el espacio
              .nave-tv__hero__buttons
                a.nave-tv__hero__button.nave-tv__hero__button--yellow(href="#")
                  +icon("play", "#000")
                  |Reproducir
                a.nave-tv__hero__button(href="#") Información
    section.nave-tv__episodios
      //- .container
      //-   .row
      //-     .col-24
      .nave-tv__episodios__slider-container
        h3.nave-tv__episodios__slider-title Ciclo de Solos
        +slider('nave-tv__episodios__slider', 'multi')
          each episodio in site.data.episodios.ciclo_solos
            .nave-tv__episodios__slide
              +article(episodio, '-episodios')

      .nave-tv__episodios__slider-container
        h3.nave-tv__episodios__slider-title Entrevistas
        +slider('nave-tv__episodios__slider', 'multi')
          each episodio in site.data.episodios.entrevistas
            .nave-tv__episodios__slide
              +article(episodio, '-episodios')
                
    section.nave-tv__newsletter
      +newsletter('nave-tv')
