include ../_modules/banner/banner
include ../_modules/items-list/items-list

extends ../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../';

block content
  main.mision
    section.mision__hero  
      .container
        .row
          .col-24
            .mision__hero__container
              h1.mision__hero__title Misión
    section.mision__details
      .container
        .row
          .col-24
            .mision__details__main-text
              p.mision__details__text Nuestramisión principal es brindar un espacio de profesionalización para artistas locales e internacionales con el fin de proveer las condiciones óptimas para crear, desarrollar e investigar entorno a sus reflexiones e inquietudes artísticas.
          .col-24.col-md-16.offset-md-4
            .mision__details__image
              img(src="/images/mision/foto1.jpg")
          .col-24.col-md-16.offset-md-4
            .mision__details__text-container
              p.mision__details__text Entendemos que las lógicas de producción en las economías creativas pueden limitar al artista y que finalmente, obliga a los creadores a entrar en lógicas de mercados que no son sustentables en el timepo. Por lo mismo, somos además un espacio de generación de contenidos y saberees con el fin de dar valor a los procesos a través de aperturas, ciclos, seminarios y espacios de diálogo que permitan entender el arte y la cultura desde esta visión.
              p.mision__details__text Con el tiempo, NAVE ha expandido este primer objetivo, al convertirse en una plataforma para la movilización e internacionalización artística generando con otras instituciones, espacios y festivales instancias colaborativas que permite a los artistas generar nuevos saberes y continuar sus procesos de creación que suelen ser extensos y a veces, permanentes.
          .col-24.col-md-12
            .mision__details__image
              img(src="/images/mision/foto2.jpg")
          .col-24.col-md-12
            .mision__details__image.mision__details__image--margin
              img(src="/images/mision/foto3.jpg")
          .col-24.col-md-16.offset-md-4
            .mision__details__text-container
              p.mision__details__text Por último, buscaos generar nuevas formas de interactuar con las audiencias que permita un espacio de intercambio entre estas y el creador, no como un mero espectador sino como un cómplice de las acciones detrás de una investigación a través de la participacion en talleres, laboratorios, y aperturas de procesos (espacios libres del artista donde él/ella define los dispositivos para compartir dichas experiencias).